<template name="admin_create_bestofnotes">
	<div class="container">
		<div class="row">
			<div class="col-xs-3"></div>
			<div class="col-xs-6">
				<!-- clickable ist of series that update a Session Variable -->

				<!--Need to add forms for update and delette -->


				<h2>Add Notes for an Episode</h2>
				    {{#autoForm collection="Bestof" id="insertBookForm" type="insert"}}
				    <fieldset>
				        {{> afQuickField name='episodeId' options=episodesForForm}}

				        {{> afQuickField name='bestOfType' options=typeForForm}}
					    {{#if currentType itemSelected="any"}}
					       	{{> afQuickField name='associatedWithScene' options=scenesForForm}}
					        {{> afQuickField name='attachedToTimeline'}}
					        {{#if timeLineChecked}}
						        {{> afQuickField name='runtime'}}
						    {{/if}}
					       	{{> afQuickField name='characters'}}

						{{/if}}



		        		{{#if currentType itemSelected="Twitter"}}
				        	{{> afQuickField name='twitterEmbedUri'}}
			        	{{/if}}


		        		{{#if currentType itemSelected="Critics"}}
		        			{{> getPreviousArticles}}
					        {{> afQuickField name='sourceName' value=previousSourceName}}
					        {{> afQuickField name='sourceRootUri' value=previousSourceRootUri}}
					        {{> afQuickField name='directUri' value=previousDirectUri}}
					        {{> afQuickField name='author' value=previousAuthor}}
					        {{> afQuickField name='authorUri' value=previousAuthorUri}}	
					        {{> afQuickField name='text' rows=5}}
		        		{{/if}}


		        		{{#if currentType itemSelected="Reddit"}}
					        {{> afQuickField name='redditUriToComment'}}
					        {{> afQuickField name='redditUriToUserHome'}}
					        {{> afQuickField name='text' rows=5}}
				        
				        {{/if}}
				        {{#if currentType itemSelected="Memes"}}
					        {{> afQuickField name='memeImageSource'}}
					        {{> afQuickField name='memePublisherSourceName'}}
					        {{> afQuickField name='memePublisherSourceUri'}}
					    {{/if}}




				    </fieldset>
				    <button type="submit" class="btn btn-primary">Insert</button>
				    {{/autoForm}}
			</div>
		</div>
	</div>

</template>
<template name="getPreviousArticles">
	<select id="articleSelector" class="form-control">
		<option value="">Select Previously Used Source</option>
		{{#each previousSource}}
			<option value="{{_id}}">{{sourceName}}, {{author}}</option>
		{{/each}}
	</select>
</template>

