<template name="layout">
 		<div class="header_area"><!--START HEADER AREA-->
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
						<div class="logo"><!--LOGO-->
							<a href="/">Showverse Sync</a>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<div class="header_right"><!--LOGOUT BUTTON-->
							<a href="#" class="logout_btn">{{logInOut}} {{currentUser.username}}</a>
						</div>
					</div>
				</div>
			</div>
		</div><!--END HEADER AREA-->
		{{> googleAnalytics}}
		 {{> yield}}
</template>