<template name="showverse">
		
		<div class="title_area"><!--START TITLE AREA-->
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="title"><!--EPISODE TITLE-->
							{{#with episodeInfo}}
							<h3>{{seriesTitle}}/{{seasonNumber}}.{{episodeNumber}}: {{episodeTitle}}</h3>
							<p><strong>Aired on:</strong>  &bullet; <strong>Network:</strong> {{network}} &bullet; <strong>IMDB user rating: {{imdbRating}} </strong>/ 10 stars.</p>
							{{/with}}
						</div>
					</div>
				</div>
			</div>
		</div><!--END TITLE AREA-->
		<div class="main_content_area"><!--START MAINCONTENT AREA-->
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">

						<div class="content_left"><!--START LEFT CONTENT AREA-->

							<div class="comment_input_box"><!--START COMMENT BOX AREA-->

								<div class="user_photo">
									<img src="{{userPhoto}}" alt="USER">
								</div>
								<div class="comment_box">
									<textarea id="inputbox" class="form-control" placeholder="Write a comment..." rows="3"></textarea>
								</div>
							</div><!--END COMMENT BOX AREA-->
							<div style="clear:both;"></div>
							
							<div class="comment_control_box"><!--START COMMENT CONTROL BOX-->
	
								<div class="select_menu"><!--SELECT MENU-->
									<select id="thispicker" class="form-control show-tick">
										<option value="1">All comments</option>
										<option value="2">Only comments with Likes</option>
									</select>
								</div>
								<div class="clearfix visible-xs"></div>
								<div class="comment_right_action">
									<i class="glyphicon glyphicon-user"></i> {{totalCommentors}} &nbsp; <i class="glyphicon glyphicon-user-slash"></i> {{hiddenUsers}} <a href="#" data-toggle="modal" data-target=".all_user_list_modal">(Edit)</a> &nbsp; | &nbsp; <i class="glyphicon glyphicon-comment"></i> {{totalComments}} comments
								</div>
							</div><!--END COMMENT CONTROL BOX-->
							
							<div style="clear:both;"></div>
								<div class="comment_list"><!--START COMMENT LIST-->
									<ul>
									
									{{#each theComments}}

										{{#if writeSceneMarker}}
											<li class="sub_comment_aggregate">
												<p>There are {{commentsInScene}} comments to come in this scene.</p>
											</li>
											<li class="sub_comment_notice">
												<div class="col-xs-1">
													<span class="caret caret-reversed"></span>
												</div>
												<div class="col-xs-10">
													<p>{{sceneRuntime}} - {{sceneMarker}}</p>
												</div>
												<div class="col-xs-1">
													<span class="caret caret-reversed"></span>
												</div>
											</li>
										{{else}}


										<li class="{{isSpecial}}"><!--SINGLE COMMENT-->
											<div class="user_photo">
												<img src="{{picture}}" alt="USER">
											</div>
											<div class="user_comment">
												<h4>{{commentorName}} <span class="user_time">&bullet; {{commentRunTime}}</span></h4>
												<p>{{#markdown}}{{commentText}}{{/markdown}}</p>
												<p><a href="#" title="{{likers}}" class="like_number" id="{{_id}}"><i class="glyphicon glyphicon-heart"></i> {{total_likes}} </a> &bullet; <a href="#" class="like_button" id="like-{{_id}}">{{likeunliketext}}</a>  {{#if ismine}}
													<a href="#" class="delete_post"> &bullet; <i class="glyphicon glyphicon-remove"></i> Delete</a>
												{{else}}					<!--							
													<a href="#" class="reply_post"> &bullet; Reply</a>
													-->
												{{/if}}
											</p>
											</div>
										</li>
									{{/if}}

									{{/each}}
									</ul>
								</div>

						</div><!--END LEFT CONTENT AREA-->
					</div>
 
 					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<div class="content_right"><!--START RIGHT CONTENT-->
								<div class="timer_box"><!--START TIMER BOX AREA-->
									<h4>Episode Timer</h4>
									<div id="timer"></div><!--TIMER-->
									<div class="row">
										<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
											<div class="timer_button">
												<i id="playPause" class="glyphicon {{icontype}}"></i>
											</div>
										</div>
										<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
											<div class="timer_count">
												<span class="current_time">{{runtime}}</span> / <span class="full_time">59:00</span>											

											</div>
										</div>
										<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
											<div class="timer_separator"></div>

											<p><span class="jumpto">Sync points:&nbsp;&nbsp;</span>
											<select class="selectpicker_timer show-tick" data-style="btn-timer" data-width="100%">
										    	{{#each showMarkers}}
										    	<option value="{{timestamp}}" {{isSelected}}>{{showMarker}} / {{formatedTimeStamp}}</option>
										    	{{/each}}
										  	</select>
										  	</p>
										 </div>
									</div>
								</div><!--END TIMER BOX AREA-->	
								{{> leaderboard}}
						</div><!--END RIGHT CONTENT-->
					</div>
				</div>
			</div>
		</div>

		<!--END MAINCONTENT AREA-->
		<!--SHOW/HIDE USER MODAL-->
			{{>modal}}
			
			{{>openingmodal}}
			{{>discussionmodal}}



</template>








