<template name="thanksupload"> 
  <div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4 outer">
      <div class="account-wall">
      <h1 class="title_text">Showverse Sync</h1>
      <h4 class="subtitle_text">Time-shifted group conversation for time-shifted TV viewing.</h4>
        <span id="single-page-login-alert" ></span>
        <div class="text-center">     
          <p><img src="{{yourPicture}}" width="275"></p>
          <h5>Thanks, you look great! Now, go <a href="/select_episode/group/nattercast">pick an episode.</a></h5> 
        </div>
      </div>
    </div> 
  </div>
</template>

